













/*******************************************************************************************************************/


body {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: rosybrown;
}



.center-holder {
    width: 100vw;
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgb(237, 216, 247);
}
/*******************************************************************/








/*******************************************************************/
#MAIN-CONTAINER {
    width: 90vw;
    height: 100%;
    display: grid;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    grid-column-gap: 60px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: ". MAIN_TITLE ."
                         ". DESCRIPTION ."
                         ". REACT_ACCORDION .";
}



#HEADER {
    width: 90vw;
    height: 150px;
    display: grid;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    grid-column-gap: 60px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows:  auto auto;
    
    
}



#FOOTER {
    width: 90vw;
    height: 150px;
    display: grid;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    grid-column-gap: 60px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto auto;


}
/*******************************************************************/




/*******************************************************************/
#APP_GRID {

    width: 100%;
    height: auto;
    display: grid;

    grid-area: APP_GRID;
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 60px auto auto auto auto auto auto auto 60px;
    grid-template-areas: ". . ."
        "TITLE TITLE TITLE"
        "IR CANVAS CANVAS"
        "MC CANVAS CANVAS"
        "SP CANVAS CANVAS"
        "NOY CANVAS CANVAS"
        "INCTR CANVAS CANVAS"
        "SUBMIT CANVAS CANVAS";

}
/*****************************************************************/


#TITLE {
    width: 100%;
    height: auto;
    display: grid;
    grid-area: MAIN_TITLE;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-template-areas: "TITLE TITLE . ";
}


#GRID {
    grid-area: TITLE;
    width: 100%;
    height: auto;
    

}


#DESCRIPTION {
    width: 100%;
    height: auto;
    display: grid;

    grid-area: DESCRIPTION;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-template-areas: "TEXT GIF";
}


#GRID-CONTAINER {
    width: 100%;
    height: auto;
    display: grid;

    grid-area: REACT_ACCORDION;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-template-areas: ". ACCORDION ACCORDION";
}



#HOLDER {
    width: 100%;
    height: 100%;
}


#GIPHY{
    grid-area: IMAGE;
    opacity: 0.85;
    -moz-opacity: 0.45;
    filter: alpha(opacity=45);
    background-image: url(../assets/BAD-MUTHAFUCKER.gif);
    background-repeat: repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
}




#TEXT {
    grid-area: TEXT;
    width: 100%;
    height: auto;   
}


#GIF {
    justify-: right;
    grid-area: GIF;
    width: 100%;
    height: auto;
    display: grid;    
    position: relative;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: ". IMAGE IMAGE"
                         ". IMAGE IMAGE";
    
    
}


#ACCORDION-HOLDER {
    grid-area: ACCORDION;
    width: 100%;
    height: auto;
    display: grid;
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: ". TITLE TITLE"
                         "ACCORDION ACCORDION ACCORDION";
    background-color:aquamarine;
}

    


#THE-LIST {
    grid-area: TITLE;
    width: 100%;
    height: auto;
}







/******************************FONTS***************************/

h1 {
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5rem;   
}

h2 {
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
}


p {
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}


