
import 'accordion-js/dist/accordion.min.css';














/*******************************************************************************************************************/


body {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: rosybrown;
}



.center-holder {
    width: 100vw;
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgb(237, 216, 247);
}
/*******************************************************************/








/*******************************************************************/
#MAIN-CONTAINER {
    width: 90vw;
    height: auto;
    display: grid;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: ". MAIN_TITLE ."
                         ". DESCRIPTION ."
                         ". REACT_ACCORDION .";
}



#HEADER {
    width: 90vw;
    height: 150px;
    display: grid;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows:  auto auto;
    
    
}



#FOOTER {
    width: 90vw;
    height: 150px;
    display: grid;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto auto;


}
/*******************************************************************/




/*******************************************************************/
#APP_GRID {

    width: 100%;
    height: auto;
    display: grid;

    grid-area: APP_GRID;
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 60px auto auto auto auto auto auto auto 60px;
    grid-template-areas: ". . ."
        "TITLE TITLE TITLE"
        "IR CANVAS CANVAS"
        "MC CANVAS CANVAS"
        "SP CANVAS CANVAS"
        "NOY CANVAS CANVAS"
        "INCTR CANVAS CANVAS"
        "SUBMIT CANVAS CANVAS";

}
/*****************************************************************/


#TITLE {
    width: 100%;
    height: auto;
    display: grid;
    grid-area: MAIN_TITLE;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-template-areas: "TITLE TITLE . ";
}


#GRID {
    grid-area: TITLE;
    display: grid;
    width: 100%;
    height: auto;
    grid-row-gap: 40px;
    grid-template-rows: auto auto auto;
    grid-template-areas: "TITLE"
                         "SUBTITLE"
                         "IMAGE"
}


#DESCRIPTION {
    width: 100%;
    height: auto;
    display: grid;

    grid-area: DESCRIPTION;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-template-areas: "TEXT TEXT GIF GIF GIF GIF GIF";
}


#GRID-CONTAINER {
    width: 100%;
    height: auto;
    display: grid;

    grid-area: REACT_ACCORDION;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-template-areas: ". ACCORDION ACCORDION";
}



#HOLDER {
    width: 100%;
    height: 100%;
}





#GIF {
    justify-: right;
    grid-area: GIF;
    width: 100%;
    height: auto;
    display: grid;
    position: relative;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr;
    grid-template-areas: "IMAGE IMAGE IMAGE"
        ". . .";
}





#GIPHY{
    grid-area: IMAGE;
    opacity: 0.85;
    -moz-opacity: 0.45;
    filter: alpha(opacity=45);
    background-image: url(../assets/BAD-MUTHAFUCKER.gif);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 10;
}








#TEXT {
    grid-area: TEXT;
    width: 100%;
    height: auto;   
}





#ACCORDION-HOLDER {
    grid-area: ACCORDION;
    width: 100%;
    height: auto;
    display: grid;
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: ". TITLE TITLE"
                         "ACCORDION ACCORDION ACCORDION"
                         "ACCORDION ACCORDION ACCORDION";
    
}

    


#THE-LIST {
    grid-area: TITLE;
    width: 100%;
    height: auto;
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5rem;
    text-align: right;
}

#REACT {
    grid-area: ACCORDION;
    width: 100%;
    height: auto;
    background-color: hotpink;
}

#IMAGE-STATIC {#
    grid-area: IMAGE;
    width: 100%;
    height: 300px;
}



/******************************FONTS***************************/

h1 {
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5rem;   
}


h2 {
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
}


p {
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}





















































/******************************ACCORDION***************************/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #2d2c41;
    font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
}

ul {
    list-style-type: none;
}

a {
    color: #b63b4d;
    text-decoration: none;
}

/** =======================
 * Contenedor Principal
 ===========================*/


h1 a {
    color: #c12c42;
    font-size: 16px;
}


#JQUERY{
    grid-area: ACCORDION;
    

}

.accordion {
    width: 100%;
    height: auto;
    
    margin: 30px auto 20px;
    background: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 3px;
}

.accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li:last-child .link {
    border-bottom: 0;
}

.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #595959;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
}

.accordion li.open .link {
    color: #b63b4d;
}

.accordion li.open i {
    color: #b63b4d;
}

.accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.accordion li.default .submenu {
    display: block;
}

/**
 * Submenu
 -----------------------------*/
.submenu {
    display: none;
    background: #444359;
    font-size: 14px;
}

.submenu li {
    border-bottom: 1px solid #4b4a5e;
}

.submenu a {
    display: block;
    text-decoration: none;
    color: #d9d9d9;
    padding: 12px;
    padding-left: 42px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.submenu a:hover {
    background: #b63b4d;
    color: #FFF;
}
/******************************ACCORDION***************************/