
import 'accordion-js/dist/accordion.min.css';














/****************************************************MAIN***************************************************/
body {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #2e2e2e;
}


.horizontal {
    width: 100%;
    height: auto;
    display: grid;
    grid-row-gap: 0px;
    justify-content: center;
    grid-template-rows: auto auto auto auto;
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-align-content: start;
    -ms-flex-line-pack: start;
    align-content: start;
    grid-template-columns: 1fr;
    grid-template-areas: "HEADER"
        "ICON"
        "MAIN"
        "FOOTER"

}



.center-holder {
    width: 100vw;
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgb(237, 216, 247);
}


#TOP{
    grid-area: HEADER;
}


#SECOND {
    grid-area: ICON;
    width: 100%;
    height: auto;
    
}


#BOTTOM {
    grid-area: FOOTER;
}
/****************************************************MAIN***************************************************/























/****************************************************HEADER CLOCK*******************************************/
#HEADER {
    width: 90vw;
    height: auto;
    display: grid;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    grid-column-gap: 40px;
    grid-row-gap: 60px;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto auto auto;
    background-color: #2e2e2e;
    grid-template-areas: ". . ."
        ". CLOCK ."
        ". . .";
}



#CLOCK-CONTAINER {
    grid-area: CLOCK;
}




#CONTAINER-TOP {
    display: flex;
    width: 100%;
    background-color: #2e2e2e;
    justify-content: center;
}
/****************************************************HEADER CLOCK*******************************************/
























/****************************************************ICON AREA*********************************************/
#ICON-AREA {
    width: 90vw;
    height: auto;
    display: grid;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    grid-column-gap: 40px;
    grid-row-gap: 60px;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto auto auto;
    background-color: rgb(237, 216, 247);
    grid-template-areas: ". . ."
        ". ICON ."
        ". . .";
}


#ICON-CONTAINER {
    grid-area: ICON;
    display: flex;
    justify-content: right;
}



#ICON {
    display: flex;
    justify-content: right;
}
/****************************************************ICON AREA*********************************************/


























/****************************************************MAIN CONTAINER*****************************************/
#MAIN-CONTAINER {
    width: 90vw;
    height: auto;
    display: grid;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    grid-column-gap: 40px;
    grid-row-gap: 80px;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows:  1fr 1fr 1fr 20px;
    grid-template-areas: 
                         ". MAIN_TITLE ."
                         ". DESCRIPTION ."
                         ". REACT_ACCORDION ."
                         ". . .";
}



#GIF {
    justify-: right;
    grid-area: GIF;
    width: 100%;
    height: auto;
    display: grid;
    position: relative;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr;
    grid-template-areas: "IMAGE IMAGE IMAGE"
        ". . .";
}




#GRID {
    grid-area: TITLE;
    display: grid;
    width: 100%;
    height: auto;
    grid-row-gap: 40px;
    grid-template-rows: auto auto auto;
    grid-template-areas: "TITLE"
        "SUBTITLE"
        "IMAGE"
}



#IMAGE-STATIC {
    grid-area: IMAGE;
    width: 100%;
    height: 300px;
    border-radius: 3px;
    background-image: url(assets/images/bad-mofo.GIF);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}




#TITLE {
    width: 100%;
    height: auto;
    display: grid;
    grid-area: MAIN_TITLE;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-template-areas: "TITLE TITLE TITLE";
}


#DESCRIPTION {
    width: 100%;
    height: auto;
    display: grid;

    grid-area: DESCRIPTION;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-template-areas: "TEXT TEXT GIF GIF GIF GIF GIF";
}


#GIPHY {
    grid-area: IMAGE;
    opacity: 0.85;
    width: 100%;
    height: 100%;
    -moz-opacity: 0.45;
    border-radius: 3px;
    filter: alpha(opacity=45);
    background-image: url(assets/images/confused-jt.GIF);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 10;
}



#TEXT {
    grid-area: TEXT;
    width: 100%;
    height: auto;
}




#THE-LIST {
    grid-area: TITLE;
    width: 100%;
    height: auto;
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5rem;
    text-align: right;
}



#KILL-BILL {
    grid-area: KILL-BILL;
    width: 100%;
    height: 60%;
    position: relative;
    -moz-opacity: 0.45;
    filter: alpha(opacity=20);
    border-radius: 3px;
    background-repeat: no-repeat;
    background-image: url(assets/images/kill-bill.PNG);
    background-size: contain;
    background-position: center;
}




#GRID-CONTAINER {
    width: 100%;
    height: auto;
    display: grid;

    grid-area: REACT_ACCORDION;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-template-areas: "KILL-BILL ACCORDION ACCORDION";
}



#ACCORDION-HOLDER {
    grid-area: ACCORDION;
    width: 100%;
    height: auto;
    display: grid;
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "TITLE TITLE TITLE"
        "ACCORDION ACCORDION ACCORDION"
        "ACCORDION ACCORDION ACCORDION";
}
/****************************************************MAIN CONTAINER*****************************************/



























/****************************************************MEDIA QUERY********************************************/
@media (max-width: 1250px) {
    #ACCORDION-HOLDER {
        grid-area: ACCORDION;
        width: 100%;
        height: auto;
        display: grid;
        grid-row-gap: 40px;
        grid-column-gap: 40px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "TITLE"
            "ACCORDION";
    }


    #GRID-CONTAINER {
        height: auto;
        display: grid;
        grid-area: REACT_ACCORDION;
        grid-template-rows: 400px auto;
        grid-row-gap: 40px;
        grid-template-areas: "KILL-BILL KILL-BILL KILL-BILL"
            "ACCORDION ACCORDION ACCORDION";
    }


    #KILL-BILL {
        grid-area: KILL-BILL;
        width: 100%;
        height: 100%;
        position: relative;
        -moz-opacity: 0.45;
        filter: alpha(opacity=20);
        border-radius: 3px;
        background-repeat: no-repeat;
        background-image: url(assets/images/kill-bill.PNG);
        background-size: contain;
        background-position: center;
    }


    #DESCRIPTION {
        width: 100%;
        height: auto;
        display: grid;
        grid-area: DESCRIPTION;
        grid-template-rows: 1fr 3fr;
        grid-template-columns: 1fr;
        grid-row-gap: 40px;
        grid-template-areas: "TEXT"
                             "GIF";
    }

    #ICON {
        display: flex;
        justify-content: center;
    }
}
/****************************************************MEDIA QUERY********************************************/





























/****************************************************FOOTER*************************************************/
#FOOTER {
    width: 90vw;
    height: auto;
    display: grid;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto auto auto auto;
    background-color: #2e2e2e;
    grid-template-areas: ". . ."
                         ". TEXT ."
                         ". IMAGE ."
}




#CONTAINER-BOTTOM {
    display: flex;
    width: 100%;
    background-color: #2e2e2e;
    justify-content: center;
}




#FOOTER-TEXT {
    grid-area: TEXT;
}



#FOOTER-IMAGE {
    display: flex;
    grid-area: IMAGE;
    justify-content: right;
}
/****************************************************FOOTER*************************************************/



























/******************************FONTS************************************************************************/

h1 {
    font-family: sofia-pro, sans-serif;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: 700;
    font-style: normal;
    font-size: 5rem; 
    color: #2e2e2e;
}


#CLOCK {
    font-family: sofia-pro, sans-serif;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: 700;
    font-style: normal;
    font-size: 5rem;
    color: #d9d9d9;
    text-align: right;
}


#DATE {
    font-family: sofia-pro, sans-serif;
    padding-top: 0px;
    padding-bottom: 30px;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
    color: #d9d9d9;
    text-align: right;
}

h2 {
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
    color: #2e2e2e;
}


#FT {
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
    color: #d9d9d9;
}


p {
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #2e2e2e;
}
/******************************FONTS************************************************************************/




































/******************************ACCORDION***************************/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    
    font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
}

ul {
    list-style-type: none;
}

a {
    color: #b63b4d;
    text-decoration: none;
}

/** =======================
 * Contenedor Principal
 ===========================*/


h1 a {
    color: #c12c42;
    font-size: 16px;
}



#ACCORDION-FIXED{
    grid-area: ACCORDION;
    position: relative;
    width: 100%;
    height: auto;
}


#JQUERY{   
    position: relative;
}

.accordion {
    width: 100%;
    height: auto;
    
    margin: 30px auto 20px;
    background: #2e2e2e;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 3px;
}

.accordion .link {
    width: 100%;
    height: auto;
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: #d9d9d9;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li:last-child .link {
    border-bottom: 0;
}

.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #d9d9d9;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
}

.accordion li.open .link {
    color: #b63b4d;
}

.accordion li.open i {
    color: #b63b4d;
}

.accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.accordion li.default .submenu {
    display: block;
}

/**
 * Submenu
 -----------------------------*/
.submenu {
    display: none;
    background: hsl(47, 100%, 75%);
    font-size: 14px;
}

.submenu li {
    border-bottom: 1px solid #4b4a5e;
}

.submenu a {
    display: block;
    text-decoration: none;
    color: #2e2e2e;
    padding: 12px;
    padding-left: 42px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.submenu a:hover {
    background: #b63b4d;
    color: #efefef;
}
/******************************ACCORDION***************************/